
html {
  min-height: 100%;
}

body{
  margin: 20px;
 font: 500 1.2em/1.2 'Roboto', sans-serif;
text-align:  center;
}

.container{
          margin: 30px;

          padding: 30px;
}
.quiz{
  margin: 30px;

  padding: 30px;
}
.question{
  margin: 30px;

  padding: 30px;
}

.result{
  margin: 30px;

  padding: 30px;
}

.answer{
  margin: 30px;

  padding: 30px;
}

.score{
  margin: 30px;

  padding: 30px;
}

.pasa{
  margin: auto;
  padding: auto;
}
